body{ 
  background: url('/static/images/neuron_img.jpg') no-repeat center center fixed;
  background-size: cover;
}

div.transparent_box {
  margin: 10px;
  background-color: #ffffff;
  border: 2px solid black;
  opacity: 0.6;
  width: 90%;
}

div.transparent_box h1 {
  margin: 3%;
  font-weight: bold;
  color: #000000;
}

div.align_form1{
	margin-left: 25%;
	
}
div.align_form2{
	margin-left: 10px;
	margin-right: 10px;
}